<div class="container login">
    <div class="login-button-wrapper">
      <button mat-raised-button class="login-btn facebook-btn">
          <fa class="custtom-style" name="facebook"></fa>
          Login with Facebook
      </button>
      <button mat-raised-button class="login-btn github-btn">
          <fa class="custtom-style" name="github"></fa>
          Login with GitHub
      </button>
      <button mat-raised-button class="login-btn google-btn">
          <fa class="custtom-style" name="google"></fa>
          Login with Google
      </button>
    </div>
</div>
