@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import './assets/scss/variables.scss';
@import './assets/scss/mixins.scss';

html,
body {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  box-sizing: border-box;
}

body {
  position: relative;
  padding-bottom: 4rem;
  min-height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}
